
#toolbar{
    display: flex;
    justify-content:space-between;
    
    background: #333;
    padding:10px;
    
    
}
.sec-1 {
    display: flex;
    align-items: center;

    gap:10px;
    color: white;
    justify-content: center;
}
.sec-2 {
    display: flex;
    align-items: center;

    gap:10px;
    color: white;
    justify-content: center;
}

#clear{
    background: rgb(252, 138, 138);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

